body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color:#FFFFFF;
    
}

p, h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul {display: block;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

}

button {
    cursor: pointer;
}

img {
    display: block;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.list {
    list-style: none;
}


.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* --------------------------------------------header---------------------- */

.logo-color {
    color:#2e2f42;
        font-family:'Raleway';
}

.header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 
    0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-logo {
    font-family: 'Raleway',sans-serif;
    color:#4D5AE5;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-right: 76px;
}

.header-list {
    color: #2e2f42;
    display: flex;
    
}


.header-list-item {
    color: #2E2F42;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        position: relative;
        color: #404bbf;
        
}

.header-list-item:not(:last-child) {
    margin-right: 40px;
}

.header-list-link {
    display: flex;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list-link:hover {
    color: #404bbf;
}

.header-list-link:focus {
    color: #404bbf;
}


.header-addres {
    font-style: normal;
    display: flex;
    margin-left: auto;
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-soc-list {
    display: flex;
}

.header-soc-item:not(:last-child) {
    margin-right: 40px;
}

.current {
    color: #404bbf;
    position: relative;
}

.current::after {
    content: '';
    width: 48px;
    height: 4px;
    color: #404BBF;
    border-radius: 2px;
    display: block;
    background-color: #404BBF;
    position: absolute;
    left: 0;
    bottom: -1px;
    
}



.header-soc-link {
    color: #434455;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding-top: 24px;
        padding-bottom: 24px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-soc-link:hover {
    color:#404bbf ;
}

.headre-soc-link:focus {
    color: #404bbf;
}
/* -----------------------------------------------hero--------------------- */

.hero {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-color: rgba(46, 47, 66, 0.70);
    background-image:linear-gradient(
        rgba(46, 47, 66, 0.70),
        rgba(46, 47, 66, 0.70)
    ),
    url(../images/people-office.jpg);
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



.hero-title {
    color: #FFFFFF;
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        max-width: 496px;
        margin: 0 auto;
        margin-bottom: 8px;
}

.hero-btn {
    display: block;
    font-family:inherit;
    color: #FFF;
    background-color: #4D5AE5;
    min-width: 169px;
    height: 56px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover {
    background-color: #404BBF;}

.hero-btn:focus {
    background-color: #404BBF;
        }
/* ---------------------------------------------feature------------------- */

.feature {
    background: #FFF;
    padding-top: 120px;
    padding-bottom: 120px;
}

.feature-list {
    display: flex;
}

.feature-item {
    width: 264px;
}

.feature-item:not(:last-child) {
    margin-right: 24px;
}

.feature-item-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    border-radius: 4px;
    border: 1px solid  #8E8F99;
    background:#F4F4FD;
    width: 264px;
    height: 112px;
}



.feature-sub-title {
    color:#2E2F42;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}

.feature-text {
    color: #434455;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
/* ---------------------------------------------team--------------------- */

.team {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
    
}

.team-title {
    color: #2E2F42;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        margin-bottom: 72px;
        border-radius: 0px 0px 4px 4px;
        
}

.team-list {
    display: flex;
    border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
    margin-right: 24px;
}

.team-item {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}




.team-item-wrap {
    padding-top: 32px;
    padding-bottom: 32px;
}

.team-pre-title {
    color:  #2E2F42;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}

.team-text {
    font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 8px;
}

.team-soc-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.team-soc-item {
    width: 40px;
    height: 40px;
}

.team-soc-link {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.team-soc-link:hover  {
    background-color:#404BBF;
    border-radius: 50%;
}

.team-soc-link:focus {
    background-color: #404bbf;
}

.team-soc-icon {
    fill: #f4f4fd;
}


/* --------------------------------------------------portfolio----------- */

.portfolio {
    background: #FFF;
    padding-top: 120px;
    padding-bottom: 120px;
}



.portfolio-title {
    color: #2E2F42;
        text-align: center;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}


.portfolio-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .portfolio-cover-text {
    transform: translateY(0%);
}



.portfolio-item-cover {
    position: relative;
    overflow: hidden;
}


.portfolio-item-wrap {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-radius: 0px 0px 4px 4px;
    border-top: none;
    
}

.portfolio-sub-title {
    color: #2E2F42;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        margin-bottom: 8px;
}

.portfolio-text {
    color: #434455;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
}

/* .portfolio-cover-block {
    background:#4D5AE5;
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms  cubic-bezier(0.4, 0, 0.2, 1);
    
} */

.portfolio-cover-text {
        color:  #F4F4FD;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 400;
        letter-spacing: 0.02em;
        background: #4D5AE5;
        
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        padding: 40px 32px;
        transform:translateY(100%);
        transition: transform 250ms  cubic-bezier(0.4, 0, 0.2, 1);
}

/* ------------------------------------------------footer---------------------- */

.footer {
    background-color:#2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-left-block {
    margin-right: 120px;
}

.logo-color-footer {
    color: #f4f4fd;
    font-family: 'Raleway';
}


.footer-logo {
    font-family: 'Raleway',sans-serif;
    color: #4d5ae5;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        display: inline-block;
        
}

.footer-text {
    color: #F4F4FD;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding-top: 17.5px;
        width: 264px;
}


.footer-soc-list {
    display: flex;
    gap: 16px;
}

.footer-soc-text {
        color: #FFF;
        font-family: 'Roboto';
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 16px;
}

.footer-soc-item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
    /* background-color: #4D5AE5; */
}

/* .footer-soc-item:not(:last-child) {
    margin-right: 16px;
} */

.footer-soc-link {
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms  cubic-bezier(0.4, 0, 0.2, 1);
    
}

.footer-soc-link:hover {
    background-color: #31D0AA;
    border-radius: 50%;
}

.footer-soc-link:focus {
    background-color: #31D0AA;
    border-radius: 50%;
}

.footer-soc-icon {
    fill: #f4f4fd;
}


